{{define "index"}}
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <!-- refresh the page every 5 Minutes 30 seconds the server updates files every 5 Minutes-->
      <meta http-equiv="refresh" content="330">
      <meta content="Orginal Developer == marcsantiago.com" name="author" />
      <title>File downloader</title>
      <style>
        @-webkit-keyframes move-right {
          100% { -webkit-transform: translate(0.5em, 0); }
        }
        @-moz-keyframes move-right {
          100% { -moz-transform: translate(0.5em, 0); }
        }
        @keyframes move-right {
          100% { transform: translate(0.5em, 0); }
        }
        .cursor-pointer {
          cursor: pointer;
        }
        .text-center {
          text-align: center;
        }
        div.display-flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        div.display-flex > div {
          margin: 0 10px 0 10px;
        }
        ul.reset-style {
          list-style: none;
        }
        ul.custom-style-base li:before {
          position: absolute;
          margin-left: -1.5em;
          padding-right: 1em;
          color: rgba(255,0,0,1);
          content: '\25CF';
        }
        ul.custom-style-hover-color li:hover:before {
          color: rgba(255,0,0,0.5);
        }
        ul.custom-style-hover-type-arrow li:hover:before {
          content: '\21D2';
        }
        ul.custom-style-hover-animate li:hover:before {
          -webkit-animation: move-right 0.5s 0s 1 ease forwards;
          -moz-animation: move-right 0.5s 0s 1 ease forwards;
          animation: move-right 0.5s 0s 1 ease forwards;
        }
      </style>
    </head>
    <body>
      <h3>Click on a file to download</h3>
      <ul class="reset-style custom-style-base custom-style-hover-type-arrow custom-style-hover-animate cursor-pointer">
        {{ range $i, $f := .Files }}
          <li><a href="/download?file_name={{$f}}">{{$f}}</li>
        {{ end }}
      </ul>
    </body>
  </html>
{{end}}
